
.result{
    padding: 6px;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    min-height: 100%;
    text-align: left;
    overflow-x: scroll;
}

.input{
    position: absolute;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
   min-height: 50%;
}

.w3-btn:hover{
    opacity: 0.9;
}
.w3-btn{
    padding: 24px;
}
.primary{
    background: #55E6C1;
}

.accent{
    background: #58B19F;
}

.light{
    background: #9AECDB;
}

.dark{
    background: #2C3A47;
}


@media screen and (min-width:436px)
{
    .main-block{
        width: 440px;
    }
}

.top-right{
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    z-index: 8;
}


.memory{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.memory{
    overflow: scroll;
}
.body{
    margin: 70px 0px;
}
.body .w3-card-2{
    margin-bottom: 6px;
}